
	<!-- NAV -->
	<div id="nav">
		<!-- Main Nav -->
		<div id="nav-bottom">
			<div class="container">
				<!-- nav -->
				<ul class="nav-menu">
					<li><a href="#">Technology</a></li>
					<li><a href="#">Health</a></li>
					<li><a href="#">Travel</a></li>
				</ul>
				<!-- /nav -->
			</div>
		</div>
		<!-- /Main Nav -->
	</div>
	<!-- /NAV -->

	<!-- HEADER -->
	<header id="header">
		<!-- PAGE HEADER -->
		<div class="page-header">
			<div class="page-header-bg" style="background-image: url('assets/img/header-2.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10 text-center">
						<h1 class="text-uppercase">Lifestyle</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->
	</header>
	<!-- /HEADER -->