   
    

    		<!-- post thumb -->
        <div class="post post-thumb" >
						
						<a class="post-img" href="blog-post.html"><img src="assets/img/hot-post-3.jpg" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="category.html">Fashion</a>
								<a href="category.html">Lifestyle</a>
							</div>
							<h3 class="post-title title-lg"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							<ul class="post-meta">
								<li><a href="author.html">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					<!-- /post thumb -->
     
         

  <!-- post -->  
  <div class="post post-row" *ngFor="let post of Posts">
      <a class="post-img" href="blog-post.html"><img src="assets/img/{{post.src}}" alt=""></a>
      <div class="post-body">
        <div class="post-category">
          
              <span *ngFor="let category of post.categories"><a href="/category/details/{{category.idCategory}}">{{category.name}}</a></span>
  
        </div>
        <h3 class="post-title"><a href="blog-post.html">{{post.title}}</a></h3>
        <ul class="post-meta">
          <li><a href="author.html">{{post.autorName}}</a></li>
          <li>{{post.createdAt}}</li>
        </ul>
        <p>{{post.description}}</p>
      </div>
    </div>
    <!-- /post -->

        
 