	<!-- FOOTER -->
	<footer id="footer">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="footer-bottom row">
          <div class="col-md-6 col-md-push-6">
            <ul class="footer-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="contact.html">Contacts</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
  
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </footer>
    <!-- /FOOTER -->